doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100 - Yelp Mockup
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='../libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='../libs/material-icons/css/material-icons.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='styles/business-page.css')


  body
    header
      .container
        .navigation
          .col.col1
            img(src='https://s3-media2.fl.yelpcdn.com/assets/srv0/www_pages/95212dafe621/assets/img/brand_guidelines/yelp-2c.png' alt='yelp logo')
          .col.col2
            .input-field.name
              p #[strong Find] tacos, cheap dinner...
            .input-field.location
              p #[strong Near] Newark, NJ
            .button
              i.mi.mi-search
          .col.col3
            .sign-up-button
              p Sing up

    section
      .container
        .row.row1
          .basic-information
            .left-side
              h1 Fireside Grill & Bar
              img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
              img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
              img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
              img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
              img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
              p $$ #[strong American (Traditional), Sports Bar]

            .right-side
              img(src='img/yelp-map.png' alt='map')
        .row.row2
          .picture
            img(src='http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg' alt='food')
          .picture
            img(src='http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/08/06/c5/food-paradise-106-sandwich-ss-003' alt='food')
          .picture
            img(src='http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg' alt='food')
          .picture
            img(src='http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/08/06/c5/food-paradise-106-sandwich-ss-003' alt='food')
        .row.row3
          .left-side
            .row.hours
              h1 Hours
              hr
              p #[strong Mon] &nbsp;11:00 am - 1:00 am
              p #[strong Tue] &nbsp;&nbsp;11:00 am - 1:00 am
              p #[strong Wed] &nbsp;11:00 am - 1:00 am
              p #[strong Thu] &nbsp; 11:00 am - 1:00 am
              p #[strong Fri] &nbsp;&nbsp;&nbsp;&nbsp;11:00 am - 2:00 am
              p #[strong Sat] &nbsp;&nbsp;&nbsp;11:00 am - 2:00 am
              p #[strong Sun] &nbsp;&nbsp;11:00 am - 12:00 am

            .row.menu
              h1 Menu
              hr
              p #[strong Teriyaki Steak] $18.99
              p #[strong El Nacho Grande] $11.99
              p #[strong Chicken Fingers] $8.99
              p #[strong Tater Tots] $8.99
              p #[strong Southwest Egg Rolls] $9.99
              p #[strong Pretzel Bites] $7.99
              p #[strong El Nacho Grande] $11.99

            .row.business-info
              h1 More business info
              hr
              p Takes reservations: #[strong No]
              p Delivery: #[strong No]
              p Good For: #[strong Dinner]
              p Parking: #[strong Private Lot]
              p Attire: #[strong Causal]
              p Alcohol: #[strong Full Bar]
              p Smoking: #[strong No]
              p Wi-Fi: #[strong Free]

          .right-side
            .review-box
              .row.row1
                .left-side
                  img(src='http://image.flaticon.com/icons/svg/122/122488.svg' alt='person')
                  p.
                    #[strong Katelyn Hoff]
                    #[br] Jersey City, NJ
                    #[br] #[strong 19] friends
                    #[br] #[strong 94] reviews
                .right-side
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')

              .row.row2
                .review-comment
                  p.
                    Been here twice now. Fireside feels like an upscale Friday's. It's a
                    nice atmosphere between the restaurant end, the bar, and individual
                    tables depending on the types of parties you are having. I've seen
                    baseball teams meet here, groups of guys or girls or couples. It's a
                    nice environment for everyone. The prices really aren't that bad
                    either. Service is fast, especially if you sit at the bar.
                    #[br] #[br]The last time I was here, I ordered a balsamic chicken sandwich
                    with arugula lettuce and mozzarella cheese. Delicious! Also have
                    had their waffle sweet potato fries. Crispy and just the right amount
                    of salt. My friend likes their wings. Good grub food with a cold
                    beverage hits the spot. I would return for sure.

            .review-box
              .row.row1
                .left-side
                  img(src='http://image.flaticon.com/icons/svg/122/122454.svg' alt='person')
                  p.
                    #[strong Lorene Dillion]
                    #[br] Woodbridge, NJ
                    #[br] #[strong 36] friends
                    #[br] #[strong 112] reviews
                .right-side
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')

              .row.row2
                .review-comment
                  p.
                    Been here twice now. Fireside feels like an upscale Friday's. It's a
                    nice atmosphere between the restaurant end, the bar, and individual
                    tables depending on the types of parties you are having. I've seen
                    baseball teams meet here, groups of guys or girls or couples. It's a
                    nice environment for everyone. The prices really aren't that bad
                    either. Service is fast, especially if you sit at the bar.
                    #[br] #[br]The last time I was here, I ordered a balsamic chicken sandwich
                    with arugula lettuce and mozzarella cheese. Delicious! Also have
                    had their waffle sweet potato fries. Crispy and just the right amount
                    of salt. My friend likes their wings. Good grub food with a cold
                    beverage hits the spot. I would return for sure.
            .review-box
              .row.row1
                .left-side
                  img(src='http://image.flaticon.com/icons/svg/122/122483.svg' alt='person')
                  p.
                    #[strong Karyl Breese]
                    #[br] Holmdel, NJ
                    #[br] #[strong 9] friends
                    #[br] #[strong 12] reviews
                .right-side
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')

              .row.row2
                .review-comment
                  p.
                    Been here twice now. Fireside feels like an upscale Friday's. It's a
                    nice atmosphere between the restaurant end, the bar, and individual
                    tables depending on the types of parties you are having. I've seen
                    baseball teams meet here, groups of guys or girls or couples. It's a
                    nice environment for everyone. The prices really aren't that bad
                    either. Service is fast, especially if you sit at the bar.
                    #[br] #[br]The last time I was here, I ordered a balsamic chicken sandwich
                    with arugula lettuce and mozzarella cheese. Delicious! Also have
                    had their waffle sweet potato fries. Crispy and just the right amount
                    of salt. My friend likes their wings. Good grub food with a cold
                    beverage hits the spot. I would return for sure.

            .review-box
              .row.row1
                .left-side
                  img(src='http://image.flaticon.com/icons/svg/122/122491.svg' alt='person')
                  p.
                    #[strong Emilio Banda]
                    #[br] New York, NY
                    #[br] #[strong 19] friends
                    #[br] #[strong 294] reviews
                .right-side
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')
                  img(src='http://image.flaticon.com/icons/svg/222/222177.svg' alt='star')

              .row.row2
                .review-comment
                  p.
                    Been here twice now. Fireside feels like an upscale Friday's. It's a
                    nice atmosphere between the restaurant end, the bar, and individual
                    tables depending on the types of parties you are having. I've seen
                    baseball teams meet here, groups of guys or girls or couples. It's a
                    nice environment for everyone. The prices really aren't that bad
                    either. Service is fast, especially if you sit at the bar.
                    #[br] #[br]The last time I was here, I ordered a balsamic chicken sandwich
                    with arugula lettuce and mozzarella cheese. Delicious! Also have
                    had their waffle sweet potato fries. Crispy and just the right amount
                    of salt. My friend likes their wings. Good grub food with a cold
                    beverage hits the spot. I would return for sure.


    footer
      .container
