doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100 - Yelp Mockup
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='../libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='../libs/material-icons/css/material-icons.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='styles/main.min.css')

  body
    header
      .container
        .nav
          .nav-left
            span.nav-item.active Home
            span.nav-item Write a Review
            span.nav-item Talk
            span.nav-item Events
          .nav-right
            span.nav-item Login
            span.nav-item.sign-up Sign Up

        .company-logo
          img(src='img/yelp-logo.png' alt='Yelp Logo')

        .search-input
          .input-field.keyword #[strong Find] tacos, cheap dinner...
          .input-field Near #[strong Newark, NJ]
          .search-button
            a.mi.mi-search

        .categories
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/122/122489.svg' alt='restaurant')
              p Restaurants
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/138/138259.svg' alt='shopping')
              p Shopping
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/122/122453.svg' alt='nightlife')
              p Nightlife
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/217/217076.svg' alt='active life')
              p Active Life
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/223/223981.svg' alt='beauty and spas')
              p Beauty & Spas
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/179/179519.svg' alt='automotive ')
              p Automotive
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/222/222600.svg' alt='home improvements')
              p Home Services
          .box-category
            .box-content
              img(src='http://image.flaticon.com/icons/svg/149/149052.svg' alt='more')
              p More

    section
      .container
        h1 Recent Activity

        .recent-activities
          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145867.svg' alt='person')
              .author-name
                p Lupe Briley #[strong Newark, NJ]

            .picture
              img(src='http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/08/06/c5/food-paradise-106-sandwich-ss-003' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145852.svg' alt='person')
              .author-name
                p Kassie Kerr #[strong New York, NY]

            .picture
              img(src='http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145865.svg' alt='person')
              .author-name
                p Amina Collman #[strong Holmdel, NJ]

            .picture
              img(src='https://cdn0.vox-cdn.com/thumbor/q8y3m9RSYntyvjTJZZyy2sweq34=/0x607:7359x4746/1310x737/cdn0.vox-cdn.com/uploads/chorus_image/image/48815059/shutterstock_245938681.0.0.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145857.svg' alt='person')
              .author-name
                p Jutta Robey #[strong Hazlet, NJ]

            .picture
              img(src='https://cdn0.vox-cdn.com/thumbor/q8y3m9RSYntyvjTJZZyy2sweq34=/0x607:7359x4746/1310x737/cdn0.vox-cdn.com/uploads/chorus_image/image/48815059/shutterstock_245938681.0.0.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145866.svg' alt='person1')
              .author-name
                p Marcos Whitted #[strong Hazlet, NJ]

            .picture
              img(src='http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='http://image.flaticon.com/icons/svg/145/145862.svg' alt='person1')
              .author-name
                p Norris Trott #[strong Keyport, NJ]

            .picture
              img(src='http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/08/06/c5/food-paradise-106-sandwich-ss-003' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn. Service was great and everything went smoothly. Totally recommend
                it!
              .stars
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')
                img(src='http://image.flaticon.com/icons/svg/148/148841.svg' alt='stars')

    footer
      .container
