doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100 - Yelp Mockup
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='../libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='../libs/material-icons/css/material-icons.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='styles/landing-page.css')

  body
    header
      .container
        .nav
          .nav-left
            span.nav-item.active Home
            span.nav-item Write a Review
            span.nav-item Talk
            span.nav-item Events
          .nav-right
            span.nav-item Login
            span.nav-item.sign-up Sign Up

        .company-logo
          img(src='img/yelp-logo.png' alt='Yelp Logo')

        .search-input-2
          input(type='text' placeholder='Find tacos, cheap dinner...' class='find')
          input(type='text' placeholder='Near Newark, NJ' class='where')
          .search-button #[span.mi.mi-search]

        .categories
          .box-category.move-up
            .box-content
              img(src='img/landing-page/store.svg' alt='restaurant')
              p Restaurants
          .box-category.move-up
            .box-content
              img(src='img/landing-page/cart.svg' alt='shopping')
              p Shopping
          .box-category.move-up
            .box-content
              img(src='img/landing-page/club.svg' alt='nightlife')
              p Nightlife
          .box-category.move-up
            .box-content
              img(src='img/landing-page/basketball.svg' alt='active life')
              p Active Life
          .box-category.move-down
            .box-content
              img(src='img/landing-page/razor.svg' alt='beauty and spas')
              p Beauty & Spas
          .box-category.move-down
            .box-content
              img(src='img/landing-page/car.svg' alt='automotive')
              p Automotive
          .box-category.move-down
            .box-content
              img(src='img/landing-page/tools.svg' alt='home improvements')
              p Home Services
          .box-category.move-down
            .box-content
              img(src='img/landing-page/more.svg' alt='more')
              p More

    section
      .container
        h1 Recent Activity

        .recent-activities
          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/boy-1.svg' alt='person')
              .author-name
                p Lupe Briley #[strong Newark, NJ]

            .picture
              img(src='img/landing-page/meal-1.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/girl-1.svg' alt='person')
              .author-name
                p Kassie Kerr #[strong New York, NY]

            .picture
              img(src='img/landing-page/meal-2.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/girl-2.svg' alt='person')
              .author-name
                p Amina Collman #[strong Holmdel, NJ]

            .picture
              img(src='img/landing-page/meal-3.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/girl-1.svg' alt='person')
              .author-name
                p Jutta Robey #[strong Hazlet, NJ]

            .picture
              img(src='img/landing-page/meal-2.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/boy-1.svg' alt='person1')
              .author-name
                p Marcos Whitted #[strong Hazlet, NJ]

            .picture
              img(src='img/landing-page/meal-3.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

          .activity-box
            .author
              .author-picture
                img(src='img/landing-page/boy-2.svg' alt='person1')
              .author-name
                p Norris Trott #[strong Keyport, NJ]

            .picture
              img(src='img/landing-page/meal-1.jpg' alt='picture')

            .rating
              p.
                Love this place! Make sure you get Premium Plus to get the full service!
                We had our own private pod which included a server, blanket, pillow, and
                popcorn.
              .stars
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')
                img(src='img/landing-page/star.svg' alt='stars')

    footer
      .container
