doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title IS 661 - Group 10

    link(rel='stylesheet' href='../libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='../libs/roboto-fontface/css/roboto/roboto-fontface.css')
    link(rel='stylesheet' href='styles/main.css')

body
  .main-row-1
    .container
      .content
        .col-1
          h1 GROUP 10
        .col-2
          p Goralczyk, Tomasz
          p Harsha Kolla
          p Kruti Varma
          p Greg Vitanza
          p Kumaran Manangatti
  hr
  .main-row-2
    .container
      .content
        .iframes
          iframe(src='app/index.html')
          img(src='../img/key-path-scenario/iphone-gold.svg' alt='iphone image')

  script(src='js/main.min.js')
