//- Nathan Williamson --> STUDENT
.navbar
  .navbar-inner
    .left.sliding
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Details
    .right.sliding
      a(href='#' class='action-button') #[i.material-icons menu]

    .subnavbar
      .buttons-row
        a(href='#ratings' class='button tab-link active') Overview
        a(href='#comments' class='button tab-link') Ratings

.pages
  div(data-page='person-9' class='page with-subnavbar')
    .page-content.hide-bars-on-scroll
      .tabs
        //- --> Ratings
        #ratings.tab.active
          .card
            .card-header.card-header-0F8S7
              .chc-left Nathan Williamson
              .chc-right #[span(style='color: #A1BA36') 4]/5
            .card-content
              .card-content-inner
                .row.no-gutter
                  .col-20 #[i.material-icons person]
                  .col-80.col-80-0F8S7 Student
                .row.no-gutter
                  .col-20 #[i.material-icons school]
                  .col-80.col-80-0F8S7 Rutgers
                .row.no-gutter
                  .col-20 #[i.material-icons subdirectory_arrow_right]
                  .col-80.col-80-0F8S7 Business
                .row.no-gutter
                  .col-20 #[i.material-icons mail]
                  .col-80.col-80-0F8S7 nw3121@rutgers.edu

          .card
            .card-header.card-header-DPNI4 Based On 16 Ratings
            .card-content
              .card-content-inner
                .card-content-inner-0F8S7
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Attends Group Meetings
                  .cci-row-3 #[span.good 4]/5
                .card-content-inner-0F8S7
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Contributes to Discussions
                  .cci-row-3 #[span.okay 3]/5
                .card-content-inner-0F8S7
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Completes Tasks on Time
                  .cci-row-3 #[span.good 4]/5
                .card-content-inner-0F8S7
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Quality of Completed Work
                  .cci-row-3.not-available N/A
                .card-content-inner-0F8S7
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Cooperative & Supportive
                  .cci-row-3 #[span.okay 3]/5
                .card-content-inner-0F8S7.card-content-inner-0F8S7-last
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Contributes Significantly
                  .cci-row-3.not-available N/A

        //- --> Comments
        #comments.tab
          .content-block-title Showing #[strong 28] Comments
          //- Comment #1
          .card
            .card-header.card-header-0F8S7-comments
              .chchcc-col1 11 Nov 2016
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner I have no issues with the guy, however, he was sometimes unavailable due to his job. Other than that he's pretty chill
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would recommend this student!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Attends Group Meetings
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Contributes to Discussions
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Completes Tasks on Time
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Quality of Completed Work
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Cooperative & Supportive
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7.content-block-inner-row-0F8S7-last
                        .left #[i.material-icons poll]
                        .middle Contributes Significantly
                        .right #[span.good 4]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 9
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #2
          .card
            .card-header.card-header-0F8S7-comments
              .chchcc-col1 1 Nov 2016
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_half
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner This dude's great. He was always available whenever we needed him. Definitely recommend him to others.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would recommend this student!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Attends Group Meetings
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Contributes to Discussions
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Completes Tasks on Time
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Quality of Completed Work
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Cooperative & Supportive
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7.content-block-inner-row-0F8S7-last
                        .left #[i.material-icons poll]
                        .middle Contributes Significantly
                        .right #[span.good 4]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 1
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #3
          .card
            .card-header.card-header-0F8S7-comments
              .chchcc-col1 26 Oct 2016
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner He was in my IS 661 class. He's pretty chill. Never had issues with the guy.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would recommend this student!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Attends Group Meetings
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Contributes to Discussions
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Completes Tasks on Time
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Quality of Completed Work
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Cooperative & Supportive
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7.content-block-inner-row-0F8S7-last
                        .left #[i.material-icons poll]
                        .middle Contributes Significantly
                        .right #[span.good 4]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 8
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #4
          .card
            .card-header.card-header-0F8S7-comments
              .chchcc-col1 10 Oct 2016
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star_half
                i.material-icons star_border
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner Mehh, he was okay...
                    .card-content-inner-recommend
                      .ccir-left-no #[i.material-icons done]
                      .ccir-middle I would not recommend this student!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Attends Group Meetings
                        .right #[span.bad 2]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Contributes to Discussions
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Completes Tasks on Time
                        .right #[span.okay 3]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Quality of Completed Work
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Cooperative & Supportive
                        .right #[span.bad 2]/5
                      .content-block-inner-row-0F8S7.content-block-inner-row-0F8S7-last
                        .left #[i.material-icons poll]
                        .middle Contributes Significantly
                        .right #[span.bad 2]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 2
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #5
          .card
            .card-header.card-header-0F8S7-comments
              .chchcc-col1 1 Oct 2016
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_half
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner I agree with some of these comments. Overall he was pretty good when it came to the stuff we did for the group assignment. I would definitely work with him again.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would recommend this student!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Attends Group Meetings
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Contributes to Discussions
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Completes Tasks on Time
                        .right #[span.good 4]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Quality of Completed Work
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7
                        .left #[i.material-icons poll]
                        .middle Cooperative & Supportive
                        .right #[span.good 5]/5
                      .content-block-inner-row-0F8S7.content-block-inner-row-0F8S7-last
                        .left #[i.material-icons poll]
                        .middle Contributes Significantly
                        .right #[span.good 5]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 0
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
