//- Renee Porter --> PROFESSOR --> HASH: 22KKZ
.navbar
  .navbar-inner
    .left.sliding
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Professor Details
    .right
      a(href='#' class='action-button') #[i.material-icons menu]

    .subnavbar
      .buttons-row
        a(href='#overview' class='button tab-link active') Overview
        a(href='#ratings' class='button tab-link') Ratings

.pages
  div(data-page='person-2' class='page with-subnavbar')
    .page-content.hide-bars-on-scroll
      .tabs
        //- --> Overview
        #overview.tab.active
          .card
            .card-header.card-header-0F8S7
              .chc-left.card-header-DPNI4 Renee Porter
              .chc-right #[span.okay 3]/5
            .card-content
              .card-content-inner
                .row.no-gutter
                  .col-20 #[i.material-icons person]
                  .col-80.col-80-0F8S7 Professor
                .row.no-gutter
                  .col-20 #[i.material-icons school]
                  .col-80.col-80-0F8S7 NJIT
                .row.no-gutter
                  .col-20 #[i.material-icons subdirectory_arrow_right]
                  .col-80.col-80-0F8S7 Information Systems

          .card
            .card-header.card-header-DPNI4 Based On 110 Ratings
            .card-content
              .card-content-inner
                .card-content-inner-22KKZ
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Ability to Communicate Course Content
                  .cci-row-3 #[span.okay 3]/5
                .card-content-inner-22KKZ
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Availability Outside of Class Hours
                  .cci-row-3 #[span.good 5]/5
                .card-content-inner-22KKZ
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Fairness & Consistency in Grading
                  .cci-row-3 #[span.good 4]/5
                .card-content-inner-22KKZ
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Knowledge of Course Material
                  .cci-row-3 #[span.okay 3]/5
                .card-content-inner-22KKZ
                  .cci-row-1 #[i.material-icons poll]
                  .cci-row-2 Overall Teaching Effectivness
                  .cci-row-3 #[span.okay 3]/5

          .content-block-title.content-block-title-0F8S7 Courses
          .card
            .card-header.card-header-BO73J IS 661 - User Experience Design
            .card-content
              .card-content-inner.card-content-inner-BO73J
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Tough Grader
                    .row2 #[strong 9] People Said Yes
                  .col3.positive Yes
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Gives Good Feedback
                    .row2 #[strong 4] People Said Yes
                  .col3.positive Yes
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Lots Of Homework
                    .row2 #[strong 12] People Said Yes
                  .col3.positive Yes
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Exams
                    .row2 #[strong 14] People Said No
                  .col3.negative No
                .row-type-1.row-type-1-last
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Group Projects
                    .row2 #[strong 3] People Said No
                  .col3.negative No
          .card
            .card-header.card-header-BO73J IS 664 - Information System Principles
            .card-content
              .card-content-inner.card-content-inner-BO73J
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Tough Grader
                    .row2 #[strong 10] People Said Yes
                  .col3.negative No
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Gives Good Feedback
                    .row2 #[strong 5] People Said Yes
                  .col3.positive Yes
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Lots Of Homework
                    .row2 #[strong 10] People Said No
                  .col3.negative No
                .row-type-1
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Exams
                    .row2 #[strong 5] People Said Yes
                  .col3.positive Yes
                .row-type-1.row-type-1-last
                  .col1 #[i.material-icons trending_flat]
                  .col2
                    .row1 Group Projects
                    .row2 #[strong 9] People Said Yes
                  .col3.positive Yes

        //- --> Ratings
        #ratings.tab
          .content-block-title Showing #[strong 28] Ratings
          //- Comment #1
          .card
            .card-header.card-header-0F8S7-comments
              a(href='home/eager-pig.html' class='chchcc-col1')
                .col-left #[img(src='../../img/key-path-scenario/people-ratings/eager-pig.svg' alt='eager pig')]
                .col-right EagerPig
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner.card-content-inner-RA50E
                    .left IS 661 - Fall 2016
                    .right 11 Nov 2016
                  .card-content-inner This professor was pretty cool. Very engaging and overall a great class. Would definitely take her again.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would take this professor again!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner.content-block-inner-RA50E
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Tough Grader
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Gives Good Feedback
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Lots of Homework
                        .right.negative No
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Exams
                        .right.negative No
                      .content-block-inner-row-RA50E.content-block-inner-row-RA50E-last
                        .left #[i.material-icons trending_flat]
                        .middle Group Projects
                        .right.negative No

                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-first
                        .left #[i.material-icons poll]
                        .middle Ability to Communicate Course Content
                        .right #[span.good 4]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Availability Outside of Class Hours
                        .right #[span.bad 2]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Fairness & Consistency in Grading
                        .right #[span.okay 3]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Knowledge of Course Material
                        .right #[span.good 5]/5
                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-last
                        .left #[i.material-icons poll]
                        .middle Overall Teaching Effectivness
                        .right #[span.good 5]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 2
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #2
          .card
            .card-header.card-header-0F8S7-comments
              a(href='home/eager-pig.html' class='chchcc-col1')
                .col-left #[img(src='../../img/key-path-scenario/people-ratings/healthy-lion.svg' alt='eager pig')]
                .col-right HealthyLion
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star_border
                i.material-icons star_border
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner.card-content-inner-RA50E
                    .left IS 664 - Fall 2016
                    .right 1 Nov 2016
                  .card-content-inner Very generous and overall nice professor. The big downside is that he reads off the ppt which bores the class to death. It is best that you read the textbook (excellent book) and do the homeworks and labs.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would this professor again!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner.content-block-inner-RA50E
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Tough Grader
                        .right.negative No
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Gives Good Feedback
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Lots of Homework
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Exams
                        .right.negative No
                      .content-block-inner-row-RA50E.content-block-inner-row-RA50E-last
                        .left #[i.material-icons trending_flat]
                        .middle Group Projects
                        .right.negative No

                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-first
                        .left #[i.material-icons poll]
                        .middle Ability to Communicate Course Content
                        .right #[span.okay 3]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Availability Outside of Class Hours
                        .right #[span.good 5]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Fairness & Consistency in Grading
                        .right #[span.okay 3]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Knowledge of Course Material
                        .right #[span.good 5]/5
                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-last
                        .left #[i.material-icons poll]
                        .middle Overall Teaching Effectivness
                        .right #[span.good 5]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 2
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
          //- Comment #3
          .card
            .card-header.card-header-0F8S7-comments
              a(href='home/eager-pig.html' class='chchcc-col1')
                .col-left #[img(src='../../img/key-path-scenario/people-ratings/intuitive-lynx.svg' alt='eager pig')]
                .col-right IntuitiveLynx
              .chchcc-col2
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
                i.material-icons star
            .card-content
              .accordion-item
                .accordion-item-toggle
                  .card-content-inner.card-content-inner-RA50E
                    .left IS 664 - Spring 2016
                    .right 17 Oct 2016
                  .card-content-inner The exams are all math-based and based on homework and in-class lecture examples. Learn the homework problems, you are good for the exam mostly. One of the best classes I've ever taken, honestly. Very organized, very knowledgeable. Don't be put off by his age, he is a very sharp guy and knows internet inside and out.
                    .card-content-inner-recommend
                      .ccir-left-yes #[i.material-icons done]
                      .ccir-middle I would this professor again!
                      .ccir-right #[i.material-icons details]
                .accordion-item-content
                  .content-block
                    .content-block-inner.content-block-inner-RA50E
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Tough Grader
                        .right.negative No
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Gives Good Feedback
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Lots of Homework
                        .right.positive Yes
                      .content-block-inner-row-RA50E
                        .left #[i.material-icons trending_flat]
                        .middle Exams
                        .right.negative No
                      .content-block-inner-row-RA50E.content-block-inner-row-RA50E-last
                        .left #[i.material-icons trending_flat]
                        .middle Group Projects
                        .right.negative No

                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-first
                        .left #[i.material-icons poll]
                        .middle Ability to Communicate Course Content
                        .right #[span.okay 3]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Availability Outside of Class Hours
                        .right #[span.good 5]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Fairness & Consistency in Grading
                        .right #[span.okay 3]/5
                      .content-block-inner-row-22KKZ
                        .left #[i.material-icons poll]
                        .middle Knowledge of Course Material
                        .right #[span.good 5]/5
                      .content-block-inner-row-22KKZ.content-block-inner-row-22KKZ-last
                        .left #[i.material-icons poll]
                        .middle Overall Teaching Effectivness
                        .right #[span.good 5]/5
            .card-footer.card-footer-0F8S7-comments
              .card-footer-inner-0F8S7
                .col.col1 #[i.material-icons thumb_up]
                .col.count 2
                .col.col3 #[i.material-icons thumb_down]
                .col.count 0
                .col.col5 #[i.material-icons flag]
