//- Kelvin Mcdaniel --> PROFESSOR
.navbar
  .navbar-inner
    .left.sliding
      a(href='index.html' class='link')
        i.icon.icon-back
        span Back
    .center.sliding Details
    .right

.pages
  div(data-page='person-4' class='page')
    .page-content
      .content-block-title In The Works...
