//- Rating Submission Confirmation --> HASH: MAFER
.navbar
  .navbar-inner
    .left.sliding
      a(href='index.html' class='link')
        i.icon.icon-back
        span Home
    .center.sliding Confirmation

.pages
  div(data-page='rating-submission-confirmation' class='page')
    .page-content
      .content-block-MAFER
        .content-block-inner-MAFER
          .row1 #[i.material-icons check_circle]
          .row2 Thank You
          .row3.
            Your rating was submitted successfully. Here's something for you...
      .card
        .card-header.card-header-MAFER
          .col1 Kohl's
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 Extra 20% Off Your Order
              .row2 #[span Expires] 11/30/16
            .col2
              .coupon-code p6iD7oy98Q
      .card
        .card-header.card-header-MAFER
          .col1 Kohl's
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 Free Shipping All Orders
              .row2 #[span Expires] 11/30/16
            .col2
              .coupon-code DMb0snUKBe
      .card
        .card-header.card-header-MAFER
          .col1 Best Buy
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 Extra 20% Off Your Order
              .row2 #[span Expires] 11/28/16
            .col2
              .coupon-code lQ4HqiTBJQ
      .card
        .card-header.card-header-MAFER
          .col1 Best Buy
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 20% Off On Apple Products
              .row2 #[span Expires] 12/05/16
            .col2
              .coupon-code lRIaSXJ8Km
      .card
        .card-header.card-header-MAFER
          .col1 Target
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 Extra 15% Off Your Order
              .row2 #[span Expires] 12/28/16
            .col2
              .coupon-code PuOPCgjJwO
      .card
        .card-header.card-header-MAFER
          .col1 Staples
          .col2 #[i.material-icons.btn-save-coupon bookmark_border]
        .card-content
          .card-content-inner.card-content-inner-MAFER
            .col1
              .row1 15% Off School Supplies
              .row2 #[span Expires] 12/30/16
            .col2
              .coupon-code r4tvewXc24
