$font-stack: 'Roboto', sans-serif

$primary-color: #F2E6CF
$secondary-color: #F4F2ED
$text-color: #353534
$shadow: #C1C1BE
$light-green: #7CC189
$dark-green: #3FA757

body
  font: 100% $font-stack
  background: url('../img/school.png')

.container
  max-width: 960px
  margin: 0 auto
  padding-left: 5px
  padding-right: 5px

  .content
    background: linear-gradient(to right, $secondary-color, $primary-color)
    color: $text-color
    letter-spacing: 0.15em
    border-radius: 0.3em
    padding: 15px 20px 15px 20px

header
  margin-top: 100px
  .container
    .content
      font-size: 1.75em
      font-weight: 900

      .left
        float: left
        width: 68%
        border-right: 1px solid #333
        p
          margin: 7.5px 0px 7.5px 0px

      .right
        float: right
        width: 31%
        text-align: right
        p
          margin: 7.5px 0px 7.5px 0px

      &::after
        content: ''
        display: block
        clear: both

section
  margin-top: 40px
  .container
    .content
      min-height: 400px

      .heading
        font-size: 1.5em
        font-weight: 900

      hr
        height: 1px
        background: #333
        background-image: linear-gradient(to right, #ccc, #333, #ccc)

      .assignment-box
        margin-left: 25px
        margin-right: 25px
        margin-bottom: 30px

        hr
          height: 1px
          background: #333
          background-image: linear-gradient(to right, $primary-color, $dark-green, $primary-color)

        .title
          font-size: 1.5em
          weight: 900
          margin: 15px 0px 5px 0px

        .list-item
          margin-top: 7.5px
          margin-left: 15px
          font-size: 1.25em

          a
            color: $text-color
            text-decoration: none
            border-bottom: 1px dashed $text-color

            &:hover
              color: blue

@media (max-width: 680px)
  .container
    .content
      letter-spacing: 0.125em

  header
    margin-top: 10px
    .container
      .content
        font-size: 1.5em

  section
    margin-top: 10px
    .container
      .content
        min-height: 200px

        .heading
          font-size: 1.25em

        .text
          font-size: 1.15em

@media (max-width: 570px)
  .container
    .content
      letter-spacing: 0.1em

  header
    .container
      .content
        font-size: 1.25em

  section
    .container
      .content
        .heading
          font-size: 1.15em

        .text
          font-size: 1em

@media (max-width: 470px)
  header
    .container
      .content
        font-size: 1.15em

  section
    .container
      .content
        .heading
          font-size: 1em

        .text
          font-size: 1em

@media (max-width: 430px)
  header
    .container
      .content
        font-size: 1em

  section
    .container
      .content
        .heading
          font-size: 1em

        .text
          font-size: 1em

@media (max-width: 400px)
  header
    .container
      .content
        font-size: 0.85em

  section
    .container
      .heading
        font-size: 0.85em

      .text
        font-size: 0.85em

@media (orientation: landscape)
  header
    margin-top: 10px
