// Home
.content-block-title-custom
  height: 25px
  padding-top: 10px
  margin: 10px 15px 0px 15px
.chip-custom
  color: #FFF
  background-color: grey
  padding: 4px 6px 4px 6px
  margin-left: 2.5px
  border-radius: 5px
  letter-spacing: 1px
.list-block-custom
  margin: 10px 0 60px 0
.item-after-custom
  border-radius: 5px
  padding: 0 5px 0 4px
  background-color: #FFA500
  color: #FFF !important
  letter-spacing: 1px
.item-title-custom-student
  color: #996E5C
.item-title-custom-professor
  color: #1F4C46
.item-text-custom
  margin-top: 5px
  padding-top: 5px
  height: 35px !important
  border-top: 1px solid #8B8B8B
  .item-text-custom-inner
    display: flex
    .itcs-left
      flex-grow: 1
    .itcs-right
      flex-grow: 1
      text-align: right
      i
        color: #BF7C00
