@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)

// Home --> HASH: DPNI4
.content-block-title-DPNI4
  height: 25px
  padding-top: 10px
  margin: 10px 15px 0px 15px
.chip-DPNI4
  color: #FFF
  background-color: grey
  padding: 4px 6px 4px 6px
  margin-left: 2.5px
  border-radius: 5px
  letter-spacing: 1px
.list-block-DPNI4
  margin: 10px 0 60px 0
.item-after-DPNI4
  border-radius: 5px
  width: 35px
  justify-content: center
  color: #FFF !important
  background-color: #0B7EFF
.item-title-DPNI4-student
  color: #497B3D
.item-title-DPNI4-professor
  color: #6967AE
.item-text-DPNI4
  height: 35px !important
  .item-text-DPNI4-inner
    display: flex
    .itcs-left
      flex-grow: 1
    .itcs-right
      flex-grow: 1
      text-align: right
      i
        color: #FEBA72
.item-subtitle-DPNI4
  letter-spacing: .25px
  font-weight: 500
.card-header-DPNI4
  font-weight: 500
  text-transform: uppercase
  letter-spacing: .2px

// Person --> HASH: 0F8S7
.card-header-0F8S7
  display: flex
  .chc-left
    flex-grow: 1
  .chc-right
    flex-grow: 1
    text-align: right
    font-weight: 400
    letter-spacing: 2px
    span
      font-size: 1.1em
      font-weight: 500
    .good
      color: #A1BA36
    .okay
      color: #DAB01C
    .bad
      color: #D91948
.col-80-0F8S7
  padding-top: 5px
.card-header-0F8S7
  font-weight: 600
.card-content-inner-0F8S7
  display: flex
  border-bottom: 1px solid #D7D7D7
  //margin-bottom: 2.5px
  .cci-row-1
    flex-grow: 1
    padding-top: 2.5px
  .cci-row-2
    flex-grow: 3
    font-size: 1.05em
    padding-top: 5px
    width: 150px
  .cci-row-3
    flex-grow: 1
    text-align: right
    letter-spacing: 2px
    span
      font-size: 1.4em
    .good
      color: #A1BA36
    .okay
      color: #DAB01C
    .bad
      color: #D91948
  .not-available
    color: #D91948
    padding-top: 4px
    font-size: 1.1em
.card-content-inner-0F8S7-last
  border: none
  padding-bottom: 0
  margin-bottom: 0
.card-header-0F8S7-comments
  font-weight: 400
  display: flex
  padding: 5px 15px 2.5px 15px
  .chchcc-col1
    flex-grow: 1
    display: flex
    color: black
    .col-left
      flex-grow: 1
      img
        width: 35px
    .col-right
      width: 125px
      flex-grow: 1
      padding-top: 7.5px
      letter-spacing: .5px
      font-weight: 500
      font-size: 1em
  .chchcc-col2
    flex-grow: 1
    text-align: right
    color: #FEBA72
.card-content-inner-date-NKWKA
  padding: 2.5px 15px 0 15px
  text-align: right
.card-footer-inner-0F8S7
  width: 100%
  .col
    float: left
    &::after
      content: ''
      display: block
      clear: both
  .count
    width: 10px
    padding-top: 5px
    padding-left: 2.5px
    text-align: center
  .col1
    width: 25px
  .col3
    width: 25px
    margin-left: 5px
  .col5
    width: 25px
    margin-left: 5px
.card-content-inner-recommend
  margin-top: 5px
  font-weight: 500
  display: flex
  .ccir-left-yes
    flex-grow: 1
    height: 25px
    width: 25px
    color: green
  .ccir-left-no
    flex-grow: 1
    height: 25px
    width: 25px
    color: red
  .ccir-middle
    flex-grow: 1
    padding-top: 2px
    width: 250px
  .ccir-right
    flex-grow: 1
    text-align: right
.content-block-inner-row-0F8S7-last
  border-bottom: none !important
.content-block-inner-row-0F8S7
  border-bottom: 1px solid #D7D7D7
  display: flex
  .left
    flex-grow: 1
  .middle
    flex-grow: 1
    width: 200px
    padding-top: 2.5px
  .right
    flex-grow: 1
    text-align: right
    letter-spacing: 2px
  span
    font-size: 1.3em
  .good
    color: #A1BA36
  .okay
    color: #DAB01C
  .bad
    color: #D91948
.content-block-0F8S7
  margin: 15px 0 15px 0
  text-transform: uppercase
  color: #047314
  font-weight: 500
  .content-block-inner-0F8S7
    display: flex
    .cbi-left
      flex-grow: 1
      padding-top: 2.5px
    .cbi-right
      flex-grow: 1
      text-align: right
      i
        background-color: red
        color: white
        border-radius: 50%
        background-color: rgba(4, 115, 20, 0.75)
.item-media-0F8S7
  img
    width: 20px
    height: 20px
.social-media-0F8S7
  width: 20px
  height: 20px
.row-0F8S7
  margin-bottom: 2.5px
  .col-80-0F8S7
    padding-top: 2px

.cci-rating-0F8S7
  .ccir-row1
    text-align: center
    letter-spacing: 1.25px
    font-weight: 600
    font-size: 1.25em
    margin-bottom: 5px
    span
      color: red
      display: inline-block
      margin-right: 2.5px
  .ccir-row2
    text-align: center
    fieldset, label
      margin: 0
      padding: 0
    .rating
      border: none
      display: inline-block
      >
        input
          display: none
        label:before
          margin: 2.5px
          font-size: 2.25em
          font-family: FontAwesome
          display: inline-block
          content: '\f005'
        .half:before
          content: '\f089'
          position: absolute
        label
          color: #ddd
          float: right
        input:checked ~ label
          color: #FFD700
      &:not(:checked) > label:hover
        color: #FFD700
        ~ label
          color: #FFD700
      >
        input:checked
          + label:hover, ~ label:hover
            color: #FFED85
        label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label
          color: #FFED85
    &::after
      content: ''
      display: block
      clear: both
  .ccir-row3
    display: flex
    font-size: .9em
    color: rgb(153, 153, 153)
    .col1
      flex-grow: 1
      .col1-inside-left
        float: left
        width: 30px
        i
          transform: rotate(180deg)
      .col1-inside-right
        padding-top: 2.5px
    .col2
      flex-grow: 1
      text-align: right
      .col2-inside-left
        float: right
        width: 30px
      .col2-inside-right
        padding-top: 2.5px
  &::after
    content: ''
    display: block
    clear: both
.label-0F8S7
  font-weight: 500
  .mandatory-0F8S7
    color: red

// Rating Submission Confirmation --> MAFER
.content-block-MAFER
  width: 94%
  margin: 10px auto 0 auto
  .content-block-inner-MAFER
    text-align: center
    .row1
      color: green
      i
        font-size: 4em
    .row2
      margin-bottom: 5px
      font-size: 1.75em
    .row3
      font-size: 1.25em
.card-header-MAFER
  padding: 5px 15px 5px 15px
  .col1
    font-weight: 600
    letter-spacing: 1px
  .col2
    padding-top: 5px
.card-content-inner-MAFER
  display: flex
  .col1
    flex-grow: 1
    .row1
      font-weight: 600
      font-size: 1.15em
      margin-bottom: 5px
    .row2
      font-size: 1.05em
      span
        font-weight: 600
  .col2
    flex-grow: 1
    .coupon-code
      border: 1px solid rgb(197, 197, 197)
      margin: 0 auto
      padding: 5px
      text-align: center
      border-radius: 5px
      background-color: rgb(226, 242, 248)
      font-weight: 600
      margin-top: 10px
      width: 95px
.kohls
  background-color: rgba(152, 64, 82, 0.15)
.bestbuy
  background-color: rgba(246, 235, 23, 0.15)
.target
  background-color: rgba(201, 3, 0, 0.15)

// Bookmarks --> 8IKRT
.card-header-8IKRT
  .col1
    font-weight: 600
  .col2
    .rating
      text-align: center
      width: 35px
      border-radius: 5px
      background-color: #0B7EFF
      color: white
.card-content-inner-8IKRT
  font-size: 1.05em
  .row1
    font-weight: 600
  .row2
    display: flex
    margin-top: 7.5px
    .col1
      flex-grow: 1
      color: #8B8B8B
      span
        font-weight: 600
    .col2
      text-align: right
      flex-grow: 1
      color: #FEBA72
  .row3
    margin-top: 5px
    display: flex
    font-weight: 500
    .col1
      flex-grow: 1
      a
        color: black
        display: flex
        .left
          flex-grow: 1
          width: 5px
        .right
          flex-grow: 1
          padding-top: 2.5px
    .col2
      text-align: right
      flex-grow: 1
      display: flex
      .left
        flex-grow: 1
        padding-top: 2.5px
      .right
        flex-grow: 1
        width: 5px
  .row4-8IKRT
    height: 0
    overflow: hidden
    transition: all 0.25s ease-out
    .row4-8IKRT-inside-student
      padding-top: 10px
      .row
        border-bottom: 1px solid #CACAB6
        .col1
        .col2
          width: 260px
          padding-top: 2.5px
        .col3
          letter-spacing: 1px
          .good
            color: #A1BA36
          .okay
            color: #DAB01C
          .bad
            color: #D91948
          span
            font-size: 1.25em
      .row-last
        border-bottom: none !important
  .row4-8IKRT-show
    height: 150px !important
  .row4-8IKRT-show-student
    height: 181px !important
.card-footer-8IKRT
  .right
    width: 100%
    display: flex
    text-align: right
    .inside-left
      flex-grow: 1
      text-align: right
      padding-top: 2.5px
      width: 280px
    .inside-right
      flex-grow: 1
.accordion-item-8IKRT
  .accordion-item-toggle
    padding: 5px 15px 0px 15px
    border-top: 1px solid #EFEFF4
    display: flex
    .col1
      flex-grow: 1
    .col2
      flex-grow: 1
      width: 280px
      padding-top: 2.5px
      font-weight: 500
  .accordion-item-content
    padding: 0 15px 5px 15px
    img
      width: 100%
      margin-top: 5px
      margin-bottom: 5px
      border-radius: 5px
    .accordion-item-inner
      display: flex
      .col1
        flex-grow: 1
        text-align: right
        width: 280px
        padding-top: 2.5px
        font-weight: 500
      .col2
        flex-grow: 1
        text-align: right

// --> Instructor --> 22KKZ
.card-content-inner-22KKZ
  border-bottom: 1px solid #D7D7D7
  display: flex
  .cci-row-1
    flex-grow: 1
  .cci-row-2
    flex-grow: 1
    width: 250px
    padding-top: 2.5px
  .cci-row-3
    flex-grow: 1
    text-align: right
    letter-spacing: 1.25px
    span
      font-size: 1.35em
    .good
      color: #A1BA36
    .okay
      color: #DAB01C
    .bad
      color: #D91948
  &:last-child
    border: none !important
    margin-bottom: 0 !important
.content-block-inner-row-RA50E-last
  border-bottom: none !important
.content-block-inner-row-22KKZ-first
  margin-top: 10px
.content-block-inner-row-22KKZ-last
  border-bottom: none !important
.content-block-inner-row-22KKZ
  display: flex
  border-bottom: 1px solid #D7D7D7
  height: 25px
  .left
    flex-grow: 1
  .middle
    flex-grow: 1
    width: 250px
    padding-top: 2.5px
  .right
    flex-grow: 1
    text-align: right
    letter-spacing: 1.25px
    span
      font-size: 1.25em
    .good
      color: #A1BA36
    .okay
      color: #DAB01C
    .bad
      color: #D91948
.content-block-inner-class-info-22KKZ
  display: flex
  font-weight: 500
  font-size: 1.25em
  border-bottom: 1px solid #8B8B8B
  padding-bottom: 5px
  margin-bottom: 5px
  .left
    flex-grow: 1
  .right
    flex-grow: 1
    text-align: right

.color-red-3QXQP
  color: #BF2C24
  border-color: #BF2C24
  border-width: 2px
  font-weight: 500
.color-green-3QXQP
  color: #369947
  border-color: #369947
  border-width: 2px
  font-weight: 500

.content-block-BO73J
  width: 90%
  margin: 10px auto 0 auto
  h1
    font-size: 1.5em
    margin: 10px 0 0 0
    padding: 0
  p
    margin: 0
    padding: 5px 0 10px 0
    color: rgb(98, 98, 103)

.card-header-BO73J
  padding: 0 10px 0 10px
  font-weight: 500
  text-transform: uppercase
  font-size: 1.1em
.card-content-inner-BO73J
  padding: 10px 15px 10px 15px
  hr
    border: 0
    height: 1px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
  .row-type-1-last
    border-bottom: none !important
  .row-type-1
    display: flex
    border-bottom: 1px solid rgb(214, 214, 218)
    letter-spacing: .70px
    .col1
      flex-grow: 1
    .col2
      padding-top: 2.5px
      width: 250px
      flex-grow: 1
      .row1
        font-weight: 500
      .row2
        font-size: .85em
    .col3
      flex-grow: 1
      font-size: 1.25em
      text-align: right
    .positive
      color: #A1BA36
    .negative
      color: #DAB01C
.content-block-inner-row-RA50E
  display: flex
  border-bottom: 1px solid #D7D7D7
  height: 25px
  .left
    flex-grow: 1
  .middle
    flex-grow: 1
    width: 250px
    padding-top: 2.5px
  .right
    flex-grow: 1
    text-align: right
    font-size: 1.15em
    letter-spacing: 1px
  .positive
    color: #A1BA36
  .negative
    color: #DAB01C
.card-content-inner-RA50E
  display: flex
  width: 92.5%
  margin: 5px auto 0 auto
  padding: 0
  border-bottom: 1px solid #D7D7D7
  font-size: 1.15em
  font-weight: 500
  .left
    flex-grow: 1
  .right
    flex-grow: 1
    text-align: right

.row4-inside-8IKRT-first
  margin-top: 10px
.row4-inside-8IKRT-last
  border-bottom: none !important
.row4-inside-8IKRT
  display: flex
  border-bottom: 1px solid rgb(214, 214, 218)
  .col1
    flex-grow: 1
  .col2
    flex-grow: 1
    width: 260px
    padding-top: 2.5px
  .col3
    flex-grow: 1
    text-align: right
    letter-spacing: 1px
    span
      font-size: 1.15em
    .good
      color: #A1BA36
    .okay
      color: #DAB01C
    .bad
      color: #D91948

.searchbar-not-found-RA50E
  margin-top: 40px
  .row-RA50E
    .row1
      text-align: center
      i
        font-size: 6em
        color: #B4251F
    .row2
      margin-top: 10px
      padding: 15px
      font-size: 1.15em
      color: black
      letter-spacing: 1px
      text-align: center
      border-radius: 2.5px
      background-color: #F7F7F8
    .row3
      margin-top: 20px
      .button-custom-RA50E-green
        color: #0A781F
        border-color: #0A781F
        border-width: 2px
        font-weight: 500
      .button-custom-RA50E-blue
        color: #2540DE
        border-color: #2540DE
        border-width: 2px
        font-weight: 500

.ccir-row1-YKN4M
  font-size: 1.05em !important
  letter-spacing: .75px !important

.custom-professor-rating-YKN4M
  margin-bottom: 10px
  .cpr-inner
    background-color: rgb(255, 255, 255)
    text-align: center
    padding: 10px
    font-size: 1.25em
    letter-spacing: 1px
    font-weight: 500
    span
      color: red
      display: inline-block
      margin-right: 5px
  .list-block
    margin: 0
.button-custom-YKN4M-blue
  color: rgb(10, 126, 255)
  border-color: rgb(10, 126, 255)
  border-width: 2px
  font-weight: 500
.mandatory-info-YKN4M
  font-size: .85em
  padding: 2.5px
  margin: 2.5px auto 0 auto
  text-align: center
  background-color: rgba(255, 255, 255, .5)
  color: black
  text-transform: uppercase
  strong
    color: red

.card-header-mKbUN
  padding: 2.5px 15px 2.5px 15px
  .card-header-left
    letter-spacing: 1px
    font-weight: 500
  .card-header-right
    width: 35px
    height: 35px
.card-content-inner-mKbUN
  .row
    display: flex
    .col1
      flex-grow: 1
    .col2
      flex-grow: 1
      width: 275px
      padding-top: 2.5px
.card-footer-mKbUN
  padding: 2.5px 15px 2.5px 15px
  display: flex
  .card-footer-left
    flex-grow: 1
    width: 280px
    text-align: right
  .card-footer-right
    flex-grow: 1
    text-align: right
    padding-top: 2.5px

.card-header-eyD2Q
  display: flex
  font-weight: 500
  .col1
    flex-grow: 1
  .col2
    flex-grow: 1
    text-align: right
    text-transform: uppercase
.card-content-inner-eyD2Q
  padding: 2.5px 15px 2.5px 15px
  .row1
    display: flex
    border-bottom: 1px solid #D7D7D7
    margin-bottom: 10px
    .row1-col1
      flex-grow: 1
      padding-top: 5px
    .row1-col2
      flex-grow: 1
      text-align: right
      color: #FEBA72
  .row2
    .row2-row1
      margin-top: 7.5px
    .row2-row2
      display: flex
      border-bottom: 1px solid #D7D7D7
      .col1
        flex-grow: 1
        color: green
      .col2
        flex-grow: 1
        width: 280px
        padding-top: 2.5px
        font-weight: 900
  .accordion-item-toggle-eyD2Q
    display: flex
    padding-top: 2.5px
    .col1
      flex-grow: 1
      text-align: right
      width: 285px
      padding-top: 2px
      font-weight: 500
      letter-spacing: 1px
    .col2
      flex-grow: 1
      text-align: right
  .accordion-item-eyD2Q
    .row-course-title
      display: flex
      border-bottom: 1px solid #D7D7D7
      margin-bottom: 5px
      font-weight: 500
      .col1
        flex-grow: 1
      .col2
        flex-grow: 1
        text-align: right
    .row
      border-bottom: 1px solid #D7D7D7
      .col1
      .col2
        width: 255px
        padding-top: 2.5px
      .col3
        width: 30px
        letter-spacing: 1px
        span
          font-size: 1.2em
        .good
          color: #A1BA36
        .okay
          color: #DAB01C
        .bad
          color: #D91948
      &:nth-child(6)
        border-bottom: none
        margin-bottom: 5px
      &:last-child
        border-bottom: none
