doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='css/main.min.css')

  body

    header
      .container
        .content
          .left
            p Tomasz Goralczyk
          .right
            p IS 661-100

    section
      .container
        .content
          p.heading Welcome to my website!
          hr
          p.text
            Here I will post links to my assignments.


    //-footer
      //-container

    script(src='js/main.min.js')
