doctype html
html(lang='en')
  head
    title Tom IS-661
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='css/main.min.css')

  body
    h1 Hello World!

    p.
      What if I add a paragraph?

    //- script(src='main.min.js')
