doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='libs/material-icons/css/material-icons.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='styles/styles.css')

  body

    header
      .container
        .content
          .left
            p Tomasz Goralczyk
          .right
            p IS 661-100

    section
      .container
        .content
          p.heading Welcome to my website!
          hr
          .assignment-box
            p.title Yelp Assignment
            hr
            .list-item
              i.mi.mi-keyboard-arrow-right
              a(href='yelp-mockup/landing-page.html') Yelp Landing Page
            .list-item
              i.mi.mi-keyboard-arrow-right
              a(href='yelp-mockup/business-page.html') Yelp Business Page

    //-footer
      //-container

    script(src='js/script.min.js')
