doctype html
html(lang='en')
  head
    title Tomasz Goralczyk - IS 661-100
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='libs/normalize-css/normalize.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='styles/main.min.css')

  body

    header
      .container
        .content
          .left
            p Tomasz Goralczyk
          .right
            p IS 661-100

    section
      .container
        .content
          p.heading Welcome to my website!

          hr

          p.text Below are links to my assignments:

          a(href='yelp-mockup' class='assignment-link')
            span.name Yelp Mockup
            span.icon
              i.mi.mi-link



    //-footer
      //-container

    script(src='js/script.min.js')
